body {
    background-image: url("https://media3.giphy.com/media/UaAgpM2Ise8ndRMYi8/giphy.gif?cid=790b7611f63eda1f85d3b5e6cc6d8ffe5e80db11f586bbc6&rid=giphy.gif&ct=g");
    background-size: cover;
    background-color: rgb(130, 16, 16);
    text-align: center;
    justify-content: center;
}

.frame{
    width: 200px;
    height: 200px;
    border: 6px solid rgb(6, 20, 39);
    margin: 20px;
    float: left;
}

image-subtitle{
    color: rgb(249, 243, 243);
    font-weight: 625;
    text-align: center;
    padding: 2px;
    font-size: 20px;
}

h1 {
    background-color: #871e2c; color: #ebc82f;
    text-align: center;
}

p {
    background-color: #4a0a13;
    position: absolute;
    bottom: 5px; left: 450px;
}
footer {
    background-color: #4a0a13;
    position: absolute;
    bottom: 0px; left: 550px;
}
