body {
    background-image: url("https://i.gifer.com/VJkc.gif");
    background-size: cover;
    background-color: rgb(130, 16, 16);
    text-align: center;
    height: 100;
    padding: 0;
    margin: 0;
}
.frame{
    width: 200px;
    height: 200px;
    border: 6px solid rgb(6, 20, 39);
    margin: 20px;
    padding: 0px;
    float: left;

}
image-subtitle{
    color: rgb(249, 243, 243);
    font-weight: 625;
    text-align: center;
    padding: 2px;
    font-size: 20px;
}

.row{
justify-content: center;
padding: 50px 0;
}

.row::after{
    content: " ";
    clear: both;
    align-items: center;
    align-text: center;
}

h1 {
    background-color: #871e2c; color: #ebc82f;
    text-align: center;
}
nav {background-color:#85446d}
p {
    background-color: #4a0a13;
    position: absolute;
    bottom: 5px; left: 450px;
}
footer {
    background-color: #4a0a13;
    position: absolute;
    bottom: 0px; left: 550px;
}
