@import 
url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body{
    font-size: 20px;
    font-family: 'Orelega One', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f8f6f0;

}
.quiz_status{
    color: #279;
}

.quiz{
    color: brown;
}

h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #444;
    color: #fff;
}

audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}

.pretty-image{
    width: 1100px;
    height: 480px;
    border-top: 50px solid black;
    border-bottom: 50px solid black;
}

.icons{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.audio{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

button{
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.pretty-choice {
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover{
    background-color: #38a;
}

.quiz_status{
    position: relative;
    height: 200px;
    margin-top: 40px;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 10px solid #4287f5;
  }